# ODS API Configuration
BASE_URL=https://your-ods-api-url.com/
USERNAME=your_ods_username
PASSWORD=your_ods_password
CLIENT_ID=your_client_id
CLIENT_SECRET=your_client_secret

# Database Configuration
CONN=mongodb://your-mongodb-connection-string

# Default Admin User
DEFAULT_USERNAME=admin
DEFAULT_PASSWORD=admin123
