Babel==2.15.0
blinker==1.9.0
colorama==0.4.6
dlx @ git+https://github.com/dag-hammarskjold-library/dlx@v1.4.13.1
flask==3.0.0
importlib-metadata==7.0.1
itsdangerous==2.1.2
libretranslatepy==2.1.1
panda==0.3.1
pyOpenSSL==25.3.0
python-decouple==3.8
python-dotenv==1.0.1
translate==3.6.1
zipp==3.19.1
