{% extends "base.html" %}

{% block content %}
<div id="ods_component">
    <ods 
        :session_username="'{{ session_username }}'"
        :session_show_display="{{ 'true' if session_show_display else 'false' }}"
        :session_show_create_update="{{ 'true' if session_show_create_update else 'false' }}"
        :session_show_send_file="{{ 'true' if session_show_send_file else 'false' }}"
        :session_show_jobnumbers_management="{{ 'true' if session_show_jobnumbers_management else 'false' }}"
        :session_show_parameters="{{ 'true' if session_show_parameters else 'false' }}"
    ></ods>
</div>

<!-- Custom Loader -->
<div class="loader">
    <div class="loader-content">
        <div class="loader-circle"></div>
        <h2 class="loader-text">ODS Actions</h2>
    </div>
</div>
{% endblock %}