.card-header-tabs .nav-link.active {
  background-color: #3572A5;
  color: white;
  text-align: center;
  padding: 20px 10px;
}

.nav-tabs .nav-link {
  padding: 20px 10px;
  fill: #FFF;
  border: 0.5px solid #f6f6f6;
  color: initial;
}

.card-header {
  background-color: #ffffff;
}

.card-body {
  box-shadow: 4px 4px 3px -2px #e6e6e6, -4px -4px 3px -2px #e6e6e6;
}

.card-header:first-child {
  border: none;
}

textarea {
  margin: 20px auto; border-radius: 10px; color:black
}

th {
  background-color: #3572a5 !important;
  color: #ffffff !important;
}

.sofadi-one-regular {
  font-family: "Sofadi One", system-ui;
  font-weight: 400;
  font-style: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

body {
  background-color: black;
  }